<template lang="pug">
  .container.pt-5
    .row.md-3
      .col
        h1 Cars application
    .row
      .col-md-4
        .form-group
          label(for='search') Find you car
          input.form-control#search(
            type='text',
            placeholder='Model, Name...',
            v-model="search"
            )
          span {{ search }}
        hr
        ul.list-group
          li.pointer.list-group-item.list-group-item-actions(
            v-for="(car, index) in filteredCars"
            @click="selectCar(index)"
            :class="{'active': selectCarIndex === index}"
            ) {{ car.name }} - {{ car.model }}
      .col-md-8.pt-3
        .row
          .col-md-5
            h2 {{ car.name }}
            img.rounded.detailed-car-image(:src="car.image" :alt="car.name")
          .col-md-7.pt-2
            h5 Car details
            ul
              li Model - 
                b {{ car.model }}
              li Year - 
                b {{ car.year }}
              li Owner - 
                b {{ car.owner }}
            .phone-block
              transition(name="phone")
                p(v-if="phoneVisibility") {{ car.phone }}
            button.btn.btn-outline-success.mr-3(@click="phoneVisibility = !phoneVisibility") {{ phoneBtnText }}
            button.btn.btn-primary(@click="modalVisibility = true") Bay
    .row.pt-3(v-if="logs.lenght !== 0")
      .col-md-12
        ul.list-group
          li.list-group-item(
            v-for="log in logs",
            :class="{'list-group-item-secondary': log.type === 'cnl', 'list-group-item-success': log.type === 'ok'}"
          ) {{ log.text }} {{ log.date | date }}
    transition(name='modal')
      .modal.fade.show(tabindex='-1', role='dialog', v-if="modalVisibility")
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5.modal-title Doy you want to by this car?
              button.close(
                 type='button',
                data-dismiss='modal',
                  aria-label='Close',
                  @click="modalVisibility = false")
                span(aria-hidden='true') ×
            .modal-body
              p Current car
                b  {{ car.name }}
              ul
                li Model - 
                  b {{ car.model }}
                li Year - 
                  b {{ car.year }}
                li Owner - 
                  b {{ car.owner }}
            .modal-footer
              button.btn.btn-primary(
                type='button',
                @click="newOrder") Buy
              button.btn.btn-secondary(
                type='button',
                data-dismiss='modal',
                @click="cancelOrder") Cancel
    transition(name='fade')
      .modal-backdrop.fade.show(v-if="modalVisibility")
</template>

<script>
const car = (name, model, owner, year, phone, image) => ({name, model, owner, year, phone, image})
const log = (text, type, date = new Date()) => ({text, type, date})

const cars = [
  car('Ford', 'Focus', 'Max', 2016, '+3095 344 33 22', 'assets/img/ford.png'),
  car('Ford', 'Mondeo', 'Vladimir', 2018, '+3095 344 33 22', 'assets/img/mondeo.jpg'),
  car('Porshe', 'Panamera', 'Irina', 2015, '+3095 344 33 22', 'assets/img/panamera.jpg'),
]

export default {
  name: 'app',
  data() {
    return {
      cars: cars,
      car: cars[0],
      logs: [],
      selectCarIndex: 0,
      phoneVisibility: false,
      search: '',
      modalVisibility: false
    }
  },
  methods: {
    selectCar: function(index) {
      this.car = cars[index]
      this.selectCarIndex = index
    },
    newOrder() {
      this.modalVisibility = false
      this.logs.push(
        log(`Success order ${this.car.name} - ${this.car.model}`, 'ok')
      )
    },
    cancelOrder() {
      this.modalVisibility = false
      this.logs.push(
        log(`Canceled order ${this.car.name} - ${this.car.model}`, 'cnl')
      )
    }
  },
  computed: {
    phoneBtnText() {
      return this.phoneVisibility ? 'Hide phone' : 'Show phone'
    },
    filteredCars() {
      return this.cars.filter(car => {
        return car.name.indexOf(this.search) > -1 || car.model.indexOf(this.search) > -1
      })
    }
  },
  filters: {
    date(value) {
      return value.toLocaleString()
    }
  }
};
</script>