@import "~bootstrap/scss/bootstrap";

.detailed-car-image {
  height: 150px;
}

.pointer {
  cursor: pointer;
}

.phone-block {
  height: 40px;
}

.modal {
  display: block;
}

// Animations
// *-enter        | *-leave        \\
// *-enter-active | *-leave-active \\
// *-enter-to     | *-leave-to     \\
.phone-enter-active,
.phone-leave-active {
  transition: all 0.5s;
}

.phone-enter,
.phone-leave-to {
  transform: translateX(50px);
  opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
  transition: all 0.5s;
}

.modal-enter,
.modal-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}

.fade-enter-active {
  animation: 0.75s fade forwards;
}

.fade-leave-active {
  animation: 0.75s fade reverse;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}
